<aside th:fragment="navigator" class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="javascript:;">
            <img src="/resources/images/logo.png" alt="Matteh" />
        </a>
    </div>
    <div id="div-scrollbar" class="menu-sidebar__content">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="has-sub">
                    <a class="js-arrow" href="javascript:void(0);">
                        <i class="fas fa-home"></i>支付记录
                    </a>
                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                        <li>
                            <a href="/payment/index">支付记录</a>
                        </li>
                        <li>
                            <a href="/shopping/index">购物记录</a>
                        </li>
                        <li>
                            <a href="/transfer/index">转账记录</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/user/index">
                        <i class="fas fa-users"></i>用户
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>