<aside th:fragment="navigator" class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="javascript:;">
            <img src="/resources/images/logo.png" alt="Matteh" />
        </a>
    </div>
    <div id="div-scrollbar" class="menu-sidebar__content">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li>
                    <a href="/funds">
                        <i class="fas fa-home"></i>Funds
                    </a>
                </li>
                <li>
                    <a href="/users">
                        <i class="fas fa-users"></i>Users
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>