<div th:fragment="search-bar" class="table-data__tool-left">
    <div class="rs-select2--light rs-select2--md">
        <select id="select-from" class="js-select2" name="property">
            <option selected="selected">转账人</option>
        </select>
        <div class="dropDownSelect2"></div>
    </div>
    <div class="rs-select2--light rs-select2--sm">
        <select id="select-to-user" class="js-select2" name="time">
            <option selected="selected">接收人</option>
        </select>
        <div class="dropDownSelect2"></div>
    </div>
    <button id="btn-search" class="au-btn-filter"><i class="zmdi zmdi-filter-list"></i>搜索</button>
</div>