<!DOCTYPE html>
<html th:fragment="layout(links, content, partials, scripts)" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{partial/head-resource :: head-resource(~{::link}, ~{::script})}">
    <link href="/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="all">
    <link href="/resources/styles/font-face.css" rel="stylesheet" media="all">
    <link href="/vendors/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link href="/vendors/font-awesome/css/all.min.css" rel="stylesheet" media="all">
    <link href="/vendors/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/vendors/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/vendors/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/resources/styles/cooladmin-theme.css?v=20190214" rel="stylesheet" media="all">
    <th:block th:replace="${links}" />
    <script src="/resources/scripts/jquery-1.12.4.min.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="/resources/scripts/vue.min.js"></script>
    <script src="/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/vendors/select2/select2.min.js"></script>
    <script src="/resources/scripts/jquery.pagination.js"></script>
    <script src="/resources/scripts/jquery.vue.helper.js"></script>
    <script src="/resources/scripts/devutility.js"></script>
    <script src="/resources/scripts/Background.js"></script>
    <script src="/resources/scripts/Popuper.js"></script>
    <script src="/resources/scripts/FormModal.js?v=2019022701"></script>
    <script src="/resources/scripts/common.js?v=20190225"></script>
    <script src="/resources/scripts/selector.js"></script>
</head>

<body>
    <div class="page-wrapper">
        <div th:replace="partial/header-mobile:: header-mobile"></div>
        <div th:replace="partial/navigator :: navigator"></div>
        <div class="page-container">
            <div th:replace="partial/header :: header"></div>
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <th:block th:replace="${content}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="${partials}" />
    <th:block th:replace="${scripts}" />
    <img id="img-loading" src="/resources/images/loading.gif" alt="Loading" style="display:none;" />
</body>

</html>