<!DOCTYPE html>
<html th:replace="~{layout/layout.html :: layout(~{}, ~{::div-body}, ~{::section-partial}, ~{::script})}">

<body>
    <div th:fragment="div-body" class="row">
        <div class="user-data col-md-12">
            <h3 class="title-5 m-b-35" style="display: inline;" th:text="${title}"></h3>
            <div th:replace="~{partial/btn-add :: btn-add('btn-add', '添加转账记录')}"></div>
            <div id="div-list" class="table-responsive table-responsive-data2">
                <table class="table table-data2 table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>用户</th>
                            <th>支付方式</th>
                            <th>目标</th>
                            <th>金额</th>
                            <th>支付方式</th>
                            <th>支付时间</th>
                            <th>描述</th>
                            <th>创建时间</th>
                            <th>更新时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in data" class="tr-shadow">
                            <td>{{item.userName}}</td>
                            <td>{{item.type}}</td>
                            <td>{{item.toUser}}</td>
                            <td>{{item.cost}}</td>
                            <td>{{item.medium}}</td>
                            <td>{{item.time.substr(0, 10)}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.created}}</td>
                            <td>{{item.updated}}</td>
                            <td>
                                <div class="table-data-feature justify-content-md-center" v-if="item.creatorId == common.userId">
                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Edit" v-on:click="page.edit(item.id)">
                                        <i class="zmdi zmdi-edit"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:fragment="div-body" class="row">
        <div th:replace="~{partial/pagination :: pagination('pagination')}"></div>
    </div>
    <section th:fragment="section-partial">
        <div th:replace="~{partial/modal :: modal('div-modal', '保存转账记录', ~{transfer/partial/data-form :: #data-form})}"></div>
    </section>
    <script src="/templates/transfer/script/index.js?v=20190302"></script>
</body>

</html>