<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sutanghome.dao.mapper.UserMapper">
	<sql id="QUERY_SELECT">
		select id, name, cellphone, created, updated
	</sql>
	<sql id="QUERY_WHERE_CONDITION">
		deleted = 0
		<if test="name != null and name != ''">and name = #{name}</if>
		<if test="cellphone != null and cellphone != ''">and cellphone = #{cellphone}</if>
		<if test="password != null and password != ''">and password = #{password}</if>
	</sql>
	<sql id="QUERY_WHERE_NOTEQUAL">
		<where>
			<include refid="QUERY_WHERE_CONDITION" />
			<if test="id != null and id > 0">and id != #{id}</if>
		</where>
	</sql>
	<sql id="QUERY_WHERE">
		<where>
			<include refid="QUERY_WHERE_CONDITION" />
			<if test="id != null and id > 0">and id = #{id}</if>
		</where>
	</sql>
	<sql id="QUERY_ORDER">
		order by created desc
	</sql>
	<sql id="QUERY_PAGING">
		<if test="skip >= 0 and take > 0">limit #{skip}, #{take}</if>
	</sql>

	<insert id="insert">
		insert into user (name, cellphone, password)
		values (#{name}, #{cellphone}, #{password})
	</insert>
	<select id="count" resultType="java.lang.Integer">
		select count(0)
		from user
		<include refid="QUERY_WHERE_NOTEQUAL" />
	</select>
	<select id="get" resultType="User">
		<include refid="QUERY_SELECT" />
		from user
		<include refid="QUERY_WHERE" />
		limit 1
	</select>
	<select id="list" resultType="User">
		<include refid="QUERY_SELECT" />
		from user
		<include refid="QUERY_WHERE" />
		<include refid="QUERY_ORDER" />
		<include refid="QUERY_PAGING" />
	</select>
	<select id="listKV">
		select id key, name value
		from user
		<include refid="QUERY_WHERE" />
		<include refid="QUERY_ORDER" />
	</select>
	<update id="update">
		update user
		<set>
			updated = CURRENT_TIMESTAMP,
			<if test="name != null">name=#{name},</if>
			<if test="cellphone != null">cellphone=#{cellphone},</if>
			<if test="password != null">password=#{password}</if>
		</set>
		where id = #{id} and deleted = 0
	</update>
	<update id="delete">
		update user
		set deleted = 1, updated = CURRENT_TIMESTAMP
		where id = #{id} and deleted = 0
	</update>
</mapper>